<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# Güvenlik: .env ve gizli dosyalara erişimi engelle
<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>
